<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>SafeTrip 회원가입</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/signup.css">
  <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>

<header class="navbar">
  <div class="logo">
    <i data-lucide="shield-check"></i>
    <span>SAFE TRIP</span>
  </div>

  <nav>
    <a href="/">홈</a>
    <a href="#">지역 검색</a>
    <a href="#">안전 리포트</a>
    <a href="#">지도</a>
    <a href="#">예방 가이드</a>
    <a href="#">신고 게시판</a>
  </nav>

  <a href="/users/login" class="login-btn">로그인</a>
</header>

<main class="auth-page">
  <section class="auth-left">

  <div class="overlay"></div>

  <div class="left-content">
    <div class="shield-icon">
      🛡️
    </div>

    <h1>SAFE TRIP</h1>

    <p>
      안전한 여행을 위한<br>
      스마트 여행 안전 플랫폼
    </p>
  </div>

</section>

  <section class="auth-box">
    <h2>회원가입</h2>
    <p class="auth-desc">계정을 만들고 여행지 안전 정보를 확인하세요.</p>

    <form action="/users/signup" method="post">
      <label>아이디</label>
      <input type="text" name="username" placeholder="아이디를 입력하세요">

      <label>비밀번호</label>
      <input type="password" name="password" placeholder="비밀번호를 입력하세요">


      <label>비밀번호 확인</label>
      <input type="password" name="passwordConfirm" placeholder="비밀번호를 다시 입력하세요">

      <label>닉네임</label>
      <input type="text" name="nickname" placeholder="닉네임을 입력하세요">

      <label>이메일</label>
      <input type="email" name="email" placeholder="이메일을 입력하세요">

      <button type="submit" class="auth-btn">회원가입</button>
    </form>

    <p class="auth-link">
      이미 계정이 있으신가요? <a href="/users/login">로그인</a>
    </p>
  </section>
</main>

<script>
  lucide.createIcons();
</script>

</body>
</html>